.layout {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.layout .header {
    height: 48px;
    width: 100vw;
}

.layout .sider {
    width: 200px;
    height: calc(100% - 48px);
    overflow: auto;
}

.layout .sub-layout {
    width: 100vw;
    height: calc(100% - 48px);
    background-color: #fefefe;
}

.layout .sub-layout .sider {
    width: 200px;
    height: 100%;
}

.layout .sub-layout .content {
    padding: 15px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    background-color: #eee;
}


/*改变滚动条的样式*/
.ant-layout-sider-children {
    height: 100%;
    overflow-y: auto;
}

.ant-layout-sider-collapsed .ant-layout-sider-children {
    overflow-y: visible;
}

.ant-layout-sider-children::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: transparent;
}

.ant-layout-sider-children::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    background-color: #29065b;
}

.ant-layout-sider-children::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
    background-color: #ccc;
}

.ant-menu-dark .ant-menu-item .ant-badge > a {
    color: rgba(255, 255, 255, 0.67);
}

.ant-menu-dark .ant-menu-item .ant-badge :hover > a,
.ant-menu-dark .ant-menu-item-active .ant-badge > a,
.ant-menu-dark .ant-menu-submenu-active .ant-badge > a,
.ant-menu-dark:not(.ant-menu-inline) .ant-menu-submenu-open .ant-badge > a,
.ant-menu-dark .ant-menu-submenu-selected .ant-badge > a,
.ant-menu-dark .ant-menu-submenu-title:hover .ant-badge > a {
    color: #fff;
    text-decoration: none;
}

/*改变滚动条的样式*/
